<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.mybatisExample.interfaces.UnionMapper">

    <insert id="createUnion" parameterType="com.qaprosoft.mybatisExample.model.Union" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        insert into world.UNIONS (UNION_NAME) values
        (
        #{name}
        )
         ]]>
    </insert>


    <insert id="createUnions" parameterType="com.qaprosoft.mybatisExample.model.Union" useGeneratedKeys="true" >
        <![CDATA[
        insert into world.UNIONS (UNION_NAME) values
        ]]>
        <foreach item="union" collection="list" separator=",">
            (#{union.name})
        </foreach>
    </insert>



    <insert id="addCountry2Union" useGeneratedKeys="true">
        <![CDATA[
            INSERT INTO world.COUNTRIES_UNIONS (COUNTRIES_ID, UNIONS_ID)
            VALUES (
                #{unionId},
                #{countryId}
            )
        ]]>
    </insert>



    <sql id="getUnion">
        <![CDATA[
        SELECT U.UNION_ID, U.UNION_NAME FROM world.UNIONS U
		]]>
    </sql>


    <select id="getUnionById" resultMap="UnionResultMap">
        <include refid="getUnion" />
        <![CDATA[
			 WHERE U.UNION_ID = #{id};
		]]>
    </select>





    <update id="updateUnionName">
        <![CDATA[
			UPDATE
			    world.UNIONS
			    SET
			    UNION_NAME = #{name}
			    WHERE UNION_ID = #{id}
		]]>
    </update>








    <sql id="deleteUnion">
        <![CDATA[
			DELETE FROM world.UNIONS
		]]>
    </sql>

    <delete id="deleteUnionById">
        <include refid="deleteUnion"/>
        <![CDATA[
        WHERE UNION_ID = #{id}
        ]]>
    </delete>

    <delete id="deleteUnion">
        <include refid="deleteUnion"/>
        <![CDATA[
        WHERE UNION_NAME = #{name}
         ]]>
    </delete>


    <resultMap id="UnionResultMap" type="com.qaprosoft.mybatisExample.model.Union" autoMapping="false">
        <id property="id" column="UNION_ID"/>
        <result property="name" column="UNION_NAME"/>
    </resultMap>

</mapper>