<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="unionMapping">

    <insert id="createUnion" parameterType="Union" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        insert into world.UNIONS (NAME) values
        (
        #{name}
        )
         ]]>
    </insert>


    <insert id="insertUnions" parameterType="Union" useGeneratedKeys="true" >
        <![CDATA[
        insert into world.UNIONS (NAME) values
        ]]>
        <foreach item="union" collection="list" separator=",">
            (#{union.name})
        </foreach>
    </insert>




    <sql id="getUnion">
        <![CDATA[
        SELECT U.ID, U.NAME FROM world.UNIONS U
		]]>
    </sql>


    <select id="getUnionById" resultMap="UnionResultMap">
        <include refid="getUnion" />
        <![CDATA[
			 WHERE U.ID = #{id};
		]]>
    </select>





    <update id="updateUnionName">
        <![CDATA[
			UPDATE
			    world.UNIONS
			    SET
			    NAME = #{name}
			    WHERE ID = #{id}
		]]>
    </update>








    <sql id="deleteUnion">
        <![CDATA[
			DELETE FROM world.UNIONS
		]]>
    </sql>

    <delete id="deleteUnionById">
        <include refid="deleteUnion"/>
        <![CDATA[
        WHERE ID = #{id}
        ]]>
    </delete>

    <delete id="deleteUnion">
        <include refid="deleteUnion"/>
        <![CDATA[
        WHERE NAME = #{name}
         ]]>
    </delete>


    <resultMap id="UnionResultMap" type="Union" autoMapping="false">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
    </resultMap>

    <!--<resultMap id="CountryResultMap" type="Country" autoMapping="false">-->
        <!--<id property="id" column="ID"/>-->
        <!--<result property="name" column="NAME"/>-->
        <!--<result property="population" column="POPULATION"/>-->
        <!--<result property="area" column="AREA"/>-->
    <!--</resultMap>-->
</mapper>